<div id="employee-details" class="p-12">
  <h1 class="text-center">{{ formType === 0 ? 'View' : 'Add' }} Employee</h1>

  <mat-divider class="pb-8"></mat-divider>

  <div class="flex w-full items-center justify-center">
    <form [formGroup]="form" class="w-full max-w-md">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username" formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="First Name" formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb-3 w-full">
        <mat-label>Birth Date</mat-label>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <input
          matInput
          readonly="true"
          [matDatepicker]="picker"
          [max]="currentDate"
          formControlName="birthDate"
          class="cursor-pointer"
          (click)="picker.open()" />
      </mat-form-field>

      @if (formType === 0) {
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Basic Salary</mat-label>
          <input matInput type="text" placeholder="Basic Salary" value="{{ form.get('basicSalary')?.value | custom }}" disabled readonly />
        </mat-form-field>
      } @else {
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Basic Salary</mat-label>
          <input matInput type="number" step="100000" placeholder="Basic Salary" formControlName="basicSalary" />
        </mat-form-field>
      }

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Status</mat-label>
        <input matInput type="text" placeholder="Status" formControlName="status" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Group</mat-label>
        <input matInput type="text" placeholder="Group" formControlName="group" [matAutocomplete]="auto" (blur)="onBlurGroup()" />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredEmployeeGroups; track option) {
            <mat-option [value]="option.name">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb-3 w-full">
        <mat-label>Description</mat-label>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <input matInput readonly [matDatepicker]="picker2" formControlName="description" (click)="picker2.open()" class="cursor-pointer" />
      </mat-form-field>

      @for (err of formErrors; track $index) {
        @if (form.controls[err].hasError('required')) {
          <mat-error class="m-2">{{ err.toLowerCase() }} is <strong>required</strong></mat-error>
        } @else if (form.controls[err].hasError('email')) {
          <mat-error class="m-2">email format is <strong>invalid</strong></mat-error>
        }
      }

      <div class="flex justify-end gap-2">
        @if (formType === 0) {
          <button mat-raised-button color="primary" (click)="onCancel()">OK</button>
        } @else if (formType === 1) {
          <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Save</button>
        }
      </div>
    </form>
  </div>
</div>
