<div class="flex h-full w-full items-center justify-center">
  <div class="max-w-sm overflow-hidden rounded shadow-lg">
    <div class="w-full p-8">
      <div class="mb-8 mt-4 text-center text-xl font-bold">Welcome!</div>
      <!-- <p class="text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p> -->

      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Username</mat-label>
          <input matInput type="username" placeholder="Username" formControlName="username" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Password</mat-label>
          <input #password matInput required type="password" placeholder="Password" formControlName="password" />
          <button mat-icon-button type="button" (click)="password.type === 'password' ? (password.type = 'text') : (password.type = 'password')" matSuffix>
            <mat-icon>{{ password.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </mat-form-field>

        @for (err of formErrors; track $index) {
          <mat-error class="m-2">{{ err }} is <strong>required</strong></mat-error>
        }

        <div id="login" class="text-right" (click)="onSubmit()">
          <button type="submit" mat-stroked-button color="primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
