<div id="employee" class="p-12">
  <h1 class="text-center">List Employee</h1>

  <mat-divider class="pb-8"></mat-divider>

  <div id="form-action" class="mb-4 flex w-full items-center justify-between">
    <p class="text-gray-500">*Click each row to view employee</p>

    <button mat-raised-button color="primary" (click)="onAddEmployee()">
      <mat-icon matPrefix>add</mat-icon>
      <mat-label>Add</mat-label>
    </button>
  </div>
  <form class="flex justify-between gap-3" [formGroup]="filter">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Username</mat-label>
      <input matInput type="search" placeholder="Username" formControlName="username" />
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Group</mat-label>
      <input matInput type="search" placeholder="Group" formControlName="group" />
      <mat-icon matSuffix>group</mat-icon>
    </mat-form-field>
  </form>

  <div id="table" class="pb-12">
    @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <div class="overflow-x-auto">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="displayedColumns[0]">
          <th class="uppercase" mat-header-cell *matHeaderCellDef>{{ displayedColumns[0] }}</th>
          <td mat-cell *matCellDef="let data">
            <div class="flex w-full gap-2">
              <button mat-icon-button color="primary" (click)="onEditEmployee($event, data)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onDeleteEmployee($event, data)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[1]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[1] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[1]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[2]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[2] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[2]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[3]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[3] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[3]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[4]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[4] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[4]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[5]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[5] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[5]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[6]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>Birth Date</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[6]] | date: 'M/d/yyyy' }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[7]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>Basic Salary</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[7]] | custom }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[8]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[8] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[8]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[9]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[9] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[9]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="displayedColumns[10]">
          <th class="uppercase" mat-header-cell mat-sort-header *matHeaderCellDef>{{ displayedColumns[10] }}</th>
          <td mat-cell class="cursor-pointer" (click)="onViewEmployee(data)" *matCellDef="let data">{{ data[displayedColumns[10]] | date: 'M/d/yyyy' }}</td>
        </ng-container>

        @if (!isLoading) {
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [ariaColSpan]="displayedColumns.length">No results found.</td>
          </tr>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <mat-paginator class="mt-4" showFirstLastButtons [pageSizeOptions]="pageSizeOptions" [pageSize]="pagingInfo.limit" [pageIndex]="pagingInfo.page">
    </mat-paginator>
  </div>
</div>
